<p>Highest Rated Movie: <%= @highest_rated.title %>, <%= @highest_rated.rating %> stars </p>
<p>Lowest Rated Movie: <%= @lowest_rated.title %>, <%= @lowest_rated.rating %> stars </p>

<p>Average Rating: <%= @average_rating %> </p>
<% @movies.each do |movie| %>
  <%= link_to  "#{movie.title}", movie_path(movie.slug) %>
<% end %>