<h1><%= @movie.title %></h1>

<p>Synopsis of the movie:</p>
<p><%= @movie.description %></p>
<p>Rating: <%= @movie.rating %> </p>

<p>Directed by: <%= @movie.director.name %></p>

<p> "Genres for this Movie:" </p>
<% @genres.each do |genre| %>
  <%= genre.name %>
<% end %>

<p>Similarly Rated Movies:</p>
<% @similarly_rated.each do |movie| %>
  <%= movie.title %>
  <%= movie.description %>
  </br>
<% end %>
